<div class="currencyLanguageBox">
	<form method="post" id="langAndCurrencyForm">
        <div class="languages">
            {{ form_label(form.language) }}
            {{ form_widget(form.language) }}
        </div>
        <div class="currency">
            {{ form_label(form.currency) }}
            {{ form_widget(form.currency) }}
        </div>
        {{ form_rest(form) }}
    </form>
</div>