{% extends "::layoutAdmin.html.twig" %}

{% block content %}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-list">{{ 'Page'|trans({}, 'admin') }}</span>
    </div>
    <div class="mws-panel-body">
        <form class="mws-form" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            <div class="mws-form-inline">
                {% if page.id %}
                    <div class="mws-form-row fright">
                        {{ 'Language:' }}
                        <a href="{{ path('admin_page_edit', {'id': page.id, 'locale': 'en_US'}) }}" class="mws-button blue small">{{ 'English'|trans }}</a>
                        <a href="{{ path('admin_page_edit', {'id': page.id, 'locale': 'pl_PL'}) }}" class="mws-button blue small">{{ 'Polish'|trans }}</a>
                    </div>
                {% endif %}
                <div class="mws-form-row">
                    {{ form_label(form.title) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.title, {'attr': {'class': 'mws-textinput'}}) }}
                        {% if form_errors(form.title) %}
                            <div class="mws-error">
                                {{ form_errors(form.title) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    {{ form_label(form.linked) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.linked) }}
                    </div>
                </div>
                <div class="mws-form-row link-name-row hidden">
                    {{ form_label(form.linkName) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.linkName, {'attr': {'class': 'mws-textinput'}}) }}
                        {% if form_errors(form.linkName) %}
                            <div class="mws-error">
                                {{ form_errors(form.linkName) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    {{ form_label(form.position) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.position) }}
                        {% if form_errors(form.position) %}
                            <div class="mws-error">
                                {{ form_errors(form.position) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row page-category">
                    {{ form_label(form.footerCategory) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.footerCategory) }}
                        {% if form_errors(form.footerCategory) %}
                            <div class="mws-error">
                                {{ form_errors(form.footerCategory) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-row">
                    {{ form_label(form.content) }}
                    <div class="mws-form-item small">
                        {{ form_widget(form.content, {'attr': {'class': 'tinymce page'}}) }}
                        {% if form_errors(form.content) %}
                            <div class="mws-error">
                                {{ form_errors(form.content) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {{ form_rest(form) }}
            <div class="mws-button-row">
                <a href="{{ path('admin_page_list') }}" class="mws-button gray">{{ 'Cancel'|trans }}</a>
            	<input type="submit" value="Save" class="mws-button red">
            </div>
        </form>
    </div>
</div>
{% endblock %}