<ul>
    {% set category = 'about' %}
    {% set categories = {'about': 'MaxGamedCloud', 'popular_servers': 'Most popular servers', 'offer': 'Offer'} %}
    <li class="title">{{ 'MaxGamedCloud'|trans }}</li>
    {% for page in pages %}
        {% if page.footerCategory != category %}
            <li class="title">{{ categories[page.footerCategory]|trans }}</li>
        {% endif %}
        <li><a href="{{ path('portal_page_view', {'slug': page.slug}) }}">{{ page.title }} &rarr;</a></li>
        {% set category = page.footerCategory %}
    {% endfor %}
    <li class="title">{{ 'Contact'|trans }}</li>
    <li><a href="{{ path('contact') }}">{{ 'Contact form'|trans }} &rarr;</a></li>
{#     <li><a href="">{% trans %}Forum{% endtrans %} &rarr;</a></li>#}

    <li class="title">{{ 'Follow us'|trans }}</li>
    <li><a href="">{{ 'Facebook'|trans }} &rarr;</a></li>
    <li><a href="">{{ 'Twitter'|trans }} &rarr;</a></li>
</ul>