{% extends "::admin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div id="mws-login-wrapper">
    <div id="mws-login">
        <h1>Admin login</h1>
        {% if error %}
            <div class="mws-form-message error">
            	Error
            	<ul>
            		<li>{{ error|trans }}</li>
            	</ul>
            </div>
        {% endif %}
        <div class="mws-login-lock"><img src="{{ asset('css/admin/mws/icons/24/locked-2.png') }}" alt="" /></div>
        <div id="mws-login-form">
            <form class="mws-form" action="{{ path(app.request.attributes.get('_route') ~ "_check") }}" method="post">
                <div class="mws-form-row">
                    <div class="mws-form-item large">
                        {{ form_widget(form._username, {'attr': {'class': 'mws-login-username mws-textinput required', 'placeholder': 'username'}}) }}
                    </div>
                </div>
                <div class="mws-form-row">
                    <div class="mws-form-item large">
                        {{ form_widget(form._password, {'attr': {'class': 'mws-login-password mws-textinput required', 'placeholder': 'password'}}) }}
                    </div>
                </div>
{#                 <div class="mws-form-row mws-inset">#}
{#                     <ul class="mws-form-list inline">#}
{#                         <li>{{ form_widget(form._remember_me) }} {{ form_label(form._remember_me) }}</li>#}
{#                     </ul>#}
{#                 </div>#}
                <div class="mws-form-row">
                    <input type="submit" id="_submit" class="mws-button green mws-login-button" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
                
                {{ form_rest(form) }}
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
