{% extends "::layoutAdmin.html.twig" %}

{% block content %}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-create">{{ 'Categories'|trans({}, 'admin') }}</span>
        <a href="{{ path('admin_categories_new') }}" class="aright small mws-button orange">{{ 'Add new'|trans({}, 'admin') }}</a>
    </div>
    <div class="mws-panel-body">
        <table class="mws-table">
            <thead>
                <tr>
                    <th width="80">Logo (85x85)</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th></th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                {% for c in categories %}
                    <tr>
                        <td>
						{% if c.logo %}
							<img src="{{ asset(c.logo.webPath) }}" />
						{% endif %}
						</td>
                        <td>{{ c.name }}</td>
                        <td></td>
                        <td>
                            <a href="{{ path('admin_categories_edit', {'id': c.id}) }}" class="mws-button small blue">{{ 'Edit'|trans({}, 'admin') }}</a>
                            <a href="{{ path('admin_categories_delete', {'id': c.id}) }}" class="mws-button small red">{{ 'Delete'|trans({}, 'admin') }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if categories.haveToPaginate %}
            {{ pagerfanta(categories, 'twitter_bootstrap_translated') }}
        {% endif %}
    </div>
</div>
{% endblock %}